<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gigantes</title>
    <link rel="shortcut icon" href="../img/icono2.ico" type="image/x-icon">

    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/footer.css">
    <link rel="stylesheet" href="../estilos/galeria.css">
    <link rel="stylesheet" href="../estilos/gigantes.css">

</head>

<body>
    <header>
        <div class="container-nav">
            <nav class="navbar">
                <a class="textNav" href="index.html" class="brand">
                    <img class="logo" src="../img/logo2.JPG" alt="">
                </a>
                <ul class="nav-links">
                    <li><a class="textNav" href="index.html">Home</a></li>
                    <li><a class="textNav" href="">Lugares</a></li>
                    <li><a class="textNav" href="#myForm">Contacto</a></li>
                    <li><a class="textNav" href="https://www.google.com/maps/@-31.4396976,-64.3846743,11z?entry=ttu"
                            target="_blank">Google</a></li>
                </ul>
            </nav>
            <button class="button-menu-toggle">Menu</button>
        </div>
    </header>

    <main>

        <!-- Contenido principal -->
        <section class="principal">
            <div class="container">
                <div class="palabra">Los GIGANTES
                    <!-- <h1>Los Gigantes</h1> -->
                </div>
                <div>
                    <img class="imageGigantes" src="../img/CarruselGigBase.jpeg" alt="Gigantes">
                </div>
                <h4>Valles, cerros, ríos y vistas imponentes, un destino colosal!!!</h4>
                <p class="parrafo">Gran macizo al norte de las <b>Sierras Grandes de Córdoba</b>, de 350
                    millones de años!. </p>
                <p class="parrafo">Imperdible! un <b>laberinto </b>de grandes piedras graníticas
                    con siluetas multiformes.</p>
                <p class="parrafo">Gracias a su cuidado, es uno de los últimos reductos de cóndores y tabaquillos.
                <p class="parrafo">Además es un centro importante de escalada en roca del país, con <a
                        href="../img/GigLaCruzRutas.jpg" target="_blank" class="custom-link">
                        rutas</a> equipadas!.</p>
                <p class="parrafo">Nadar en el <a href="../img/GigYuspe.jpg" target="_blank"
                        class="custom-link">Yuspe</a> ¡qué privilegio! Es su río top, con un caudal estable todo el año.
                </p>
                <p class="parrafo">Tiene título de <u>zona de riesgo</u>. Para ir, hay que anotarse en el <a
                        class="custom-link" href="https://registrozonaderiesgo.cba.gov.ar/#/">
                        registro</a> de visitantes.
                </p>

                <p class="parrafo">Es de esos lugares obligados a visitar al menos una vez en la vida!...¿qué esperas?
                </p>
                <p class="parrafo">Seguro en tu agenda te aguarda un recorrido impactante... apasionante...
                    <b>¡gigante!</b>
                </p>
            </div>
        </section>
        <section class="gallery">
            <!-- acá irán las cards -->

            <div class="container">
                <h3>Circuitos</h3>

                <div class="image-container">
                    <img src="../img/GigMogoteBanco.jpeg" alt="Mogote" class="image1">
                    <img src="../img/GigLaCruz.jpeg" alt="La Cruz" class="image2">
                </div>
                <h4>Cerro Mogote</h4>
                <p class="parrafo"> Recorres de 3 a 5 hs, 15 km hasta
                    <b>2374
                        MSNM</b> el punto más alto, el banquito!.
                    Puedes dormir en los refugios o en la típica <a href="../img/GigCueva.jpg" target="_blank"
                        class="custom-link"> cueva </a>
                </p>


                <h4>Cerro La Cruz</h4>
                <p class="parrafo">Igual ruta que el Mogote. 1,5 hs hasta la quebrada, luego un sendero privado y 200 m
                    de pendiente pronunciada hasta
                    <b>2.180 MSNM</b>. En la cima tienes una <a href="../img/GigPanoramica.png" target="_blank"
                        class="custom-link">
                        vista</a> panorámica del Valle de Punilla, Córdoba, Carlos Paz y Diques.
                </p>


                <h4>Valle de Los Lisos</h4>
                <p class="parrafo">Cascadas, vertientes, cavernas, grutas, túneles y ríos
                    subterráneos! 12 valles, a <b>2.000 MSNM</b>, 4.300 has. Puedes ver valles y cerros literalmente
                    lisos por
                    el desgaste y la erosión,
                    rodeando lo que parece un <a href="../img/GigLisos.jpeg" target="_blank"
                        class="custom-link">tapiz</a> verde de
                    ensueño!
                </p>

            </div>

            <div class="container">
                <h3>Datos útiles</h3>
                <div class="image-container">
                    <img src="../img/GigRefugios.jpg" alt="Refugios" class="image1">
                    <img src="../img/GigRefugio.jpeg" alt="Valle Norte" class="image2">
                </div>

                <h4>Refugios</h4>

                <ul class="refugios">
                    <li><b>Cerro Mogote</b></li>

                    <ul>
                        <li>Club Andino Cba 3514805126</li>
                        <li>Juárez 03541-631350</li>
                        <li>Del Cielo 03541-408343</li>
                    </ul>
                    <br>
                    <li><b>Pie de Los Gigantes</b></li>
                    <ul>
                        <li>Del Pilar 3514215283</li>
                        <li>Villa Amelita 03541-628510</li>
                        <li>Casas Nuevas 03541-608466 </li>
                        <li>Casas Nuevas cel 3515578068 </li>
                    </ul>
                    <br>
                    <li><b>Cajones de Achala</b></li>
                    <ul>
                        <li>El Gigantillo 03541-553126 </li>
                    </ul>
                </ul>


                <h4>El clima en Los Gigantes</h4>
                <img class="imgApiClima" src="" alt="">
                <div class="infoApi">
                </div>

            </div>

            <div class="container">
                <h3>Cómo llegar</h3>
                <div class="image-container">
                    <img src="../img/GigCartel.jpeg" alt="Letrero" class="image1">
                    <img src="../img/GigMapa.jpg" alt="Mapa Gigantes" class="image2">
                </div>

                <h4>Ubicación</h4>
                <p class="parrafo">Accede por aquí al
                    <a href="https://www.google.com/maps/place/Los+Gigantes,+C%C3%B3rdoba/@-31.3941843,-64.7927379,14.87z/data=!4m6!3m5!1s0x942d12463b8e4de3:0x6fae8af9f105ff35!8m2!3d-31.3949391!4d-64.7800328!16s%2Fg%2F1tvtcfgh?entry=ttu"
                        target="_blank" class="custom-link">Google Maps</a>

                </p>

                <h4>Transporte</h4>
                <p class="parrafo">Son 84 kms desde Córdoba. 27 kms finales de ripio, desde Tanti. Si vas en ómnibus:
                    Busbud o Sarmiento (2,5 hs).
                </p>

                <div class="burrito">
                    <img src="../img/GigDonkey.jpg" class="imgburrito" alt="burrito">
                    <h5>Disfruta un recorrido virtual!</h5>
                </div>
                <!-- <p class="parrafo">Disfruta tu recorrido virtual!!!.</p> -->
                <div class="collage">
                    <img src="../img/GigCollTunel.png" class="imagen" alt="Imagen 1">
                    <img src="../img/GigCollLisos.jpeg" class="imagen" alt="Imagen 2">
                    <img src="../img/GigCollLisos1.png" class="imagen" alt="Imagen 3">
                    <img src="../img/GigCollRetamilla.jpg" class="imagen" alt="Imagen 4">
                    <img src="../img/GigCollValle.png" class="imagen" alt="Imagen 5">
                    <img src="../img/GigCollCondor.png" class="imagen" alt="Imagen 6">
                    <img src="../img/GigCollMogCaj.jpg" class="imagen" alt="Imagen 7">
                    <img src="../img/GigCollYuspeMix.jpg" class="imagen" alt="Imagen 8">
                    <img src="../img/GigCollCerro.jpg" class="imagen" alt="Imagen 9">
                    <img src="../img/GigCollFiguras.jpg" class="imagen" alt="Imagen 10">
                    <img src="../img/CarruselGigVistaN.png" class="imagen" alt="Imagen 11">
                    <img src="../img/CarruselGigBase.jpeg" class="imagen" alt="Imagen 12">
                    <img src="../img/GigCollDibujito.jpeg" class="imagen" alt="Imagen 13">

                </div>

                <!-- <div> -->
                <!-- video local -->
                <!-- <video src="https://www.youtube.com/watch?app=desktop&v=IDpoJw6uajs" controls height="100" width="50"></video> -->

                <!-- </div> -->

            </div>

        </section>

    </main>


    <footer>
        <div>
            <h2>Contacta Con Nosotros</h2>
            <p>Si tienes preguntas, necesitas asistencia o deseas obtener más detalles, no dudes en ponerte en
                contacto con nuestro equipo. Estamos aquí para hacer de tu visita a Córdoba una experiencia
                excepcional.</p>
            <p>Descubre Córdoba, descubre la auténtica alma de Argentina. ¡Bienvenido a un viaje que cambiará tu
                perspectiva para siempre!</p>
        </div>


        <form id="myForm" onsubmit="validateForm()">

            <label for="nombre">Nombre:</label>
            <!-- <input type="text" id="nombre" name="nombre" required> -->
            <input type="text" id="nombre" name="nombre">

            <label for="email">Correo electrónico:</label>
            <!-- <input type="email" id="email" name="email" required> -->
            <input type="email" id="email" name="email">

            <label for="asunto">Asunto:</label>
            <!-- <input type="text" id="asunto" name="asunto" required> -->
            <input type="text" id="asunto" name="asunto">

            <input type="submit" value="Enviar">


        </form>
    </footer>

    <script src="../estilos/script.js"></script>
    <script src="../estilos/gigantes.js"></script>


</body>

</html>