
.parrafo::first-letter {
  font-size: xx-large;
  color: rgba(71, 132, 126, 1);
  font-weight: bold;
}

.image-container {
  position: relative;
  width: 30vw;
  height: 55vh;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out; /* Configura la transición de opacidad */
  border-radius: 15% 15% 15% 15%;
}

.image1 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1; /* Muestra la imagen inicial */
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Oculta la imagen secundaria inicialmente */
}

/* Cambia la opacidad al pasar el cursor */
.image-container:hover .image1 {
  opacity: 0; /* Oculta la imagen inicial al pasar el cursor */
}

.image-container:hover .image2 {
  opacity: 1; /* Muestra la imagen secundaria al pasar el cursor */
}


.custom-link {
  text-decoration: none; /* Elimina la línea subrayada */
  color:  #f6be00; 
  /* font-weight: bold; texto del enlace negrita */
  /* font-size: 16px; Cambiar el tamaño de fuente del enlace */
  padding: 0.1%; /* espacio de relleno alrededor del enlace */
  background-color: #183d0e; /* color de fondo del enlace */
  /* border: 1vw solid #0a0b0c; Agrega un borde al enlace */
  border-radius: 5%; /* borde con esquinas redondeadas */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* transición suave al color de fondo y al color del texto */
}

 /* Cambia el estilo cuando el mouse está sobre el enlace */
 .custom-link:hover {
  background-color:  #f6be00;/* Cambia el color de fondo cuando el mouse está sobre el enlace */
  color:#183d0e ; /* Cambiar el color del texto cuando el mouse está sobre el enlace */
}
