.parrafo {
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  padding-bottom: 0%;
  padding-top: 0%;
}

.parrafo::first-letter {
  font-size: 1.6vw;
  color: black;
  font-weight: bold;
}

.palabra {
  margin-top: 1vh;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  position: relative;
  color: #183d0e;
  background: linear-gradient(90deg, #183d0e, #f6be00, #838382, #183d0e);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: ondas 6s infinite;
}

@keyframes ondas {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.principal {
  margin-top: 0.5vw;
  padding: 1vw;
}

.imageGigantes {
  /*imagen principal*/
  position: relative;
  overflow: hidden;
  width: 60vw;
  height: 40vh;
  margin-top: 2vw;
  margin-left: 18vw;
  padding: 0;
  display: flex;
  border-radius: 5%;
  border-width: 0.25vw;
  border-color: black;
  border-style: solid;
  transition: transform 0.3s;
}
.imageGigantes:hover {
  transform: scale(1.1);
}

.gallery {
  margin-top: 1vw;
  gap: 1vw;
}

.image-container {
  position: relative;
  width: 25vw;
  height: 15vw;
  overflow: hidden;
  margin-left: 2vw;
  padding: 0.4vw;
}

.image-container img {
  width: 25vw;
  height: 15vw;
  transition: opacity 0.5s ease-in-out; /* Configura la transición de opacidad */
  border-radius: 5%;
  border-width: 0.25vw;
  border-color: black;
  border-style: solid;
}

.image1 {
  /*imagen doble*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1; /* Muestra la imagen inicial */
}

.image2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Oculta la imagen secundaria inicialmente */
}

/* Cambia la opacidad al pasar el cursor */
.image-container:hover .image1 {
  opacity: 0; /* Oculta la imagen inicial al pasar el cursor */
}

.image-container:hover .image2 {
  opacity: 1; /* Muestra la imagen secundaria al pasar el cursor */
}

.custom-link {
  text-decoration: none; /* Elimina la línea subrayada */
  color: #f6be00;
  /* font-weight: bold; texto del enlace negrita */
  /* font-size: 16px; Cambiar el tamaño de fuente del enlace */
  padding: 0.1%; /* espacio de relleno alrededor del enlace */
  background-color: #183d0e; /* color de fondo del enlace */
  /* border: 1vw solid #0a0b0c; Agrega un borde al enlace */
  border-radius: 5%; /* borde con esquinas redondeadas */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* transición suave al color de fondo y al color del texto */
}

/* Cambia el estilo cuando el mouse está sobre el enlace */
.custom-link:hover {
  background-color: rgba(
    86,
    214,
    231,
    0.7
  ); /* Cambia el color de fondo cuando el mouse está sobre el enlace */
  color: black; /* Cambiar el color del texto cuando el mouse está sobre el enlace */
  font-variant: small-caps;
  font-weight: bold;
}

.datos {
  font-family: "arial";
  font-size: 1.2vw;
  margin: 1%;
}

.container {
  margin-top: 0.2 vw;
  padding: 1vw;
  border: 0.3vw solid #999696;
}

.container-flex {
  display: flex;
  flex-direction: row; /* Esto establece la dirección de las columnas */
  align-items: flex-start;
  padding: 0.5vw;
}

.columna {
  padding: 3vw;
  border: 0.2vw solid #ccc;
  width: 35vw;
  height: 45vw;
}

h3 {
  margin-top: 0.5vh;
  margin-left: 8vw;
  margin-right: 10vw;
  font-size: 1.8vw;
  text-decoration: underline;
  text-align: center;
}

h4 {
  margin-left: 4vw;
  margin-right: 6vw;
  font-size: 1.4vw;
  background-color: rgba(231, 209, 86, 0.7);
  text-align: center;
  padding: 0.1vw;
}

.refugios {
  font-size: 1.3vw;
  margin-bottom: 1vw;
  padding: 1vw;
}

.collage {
  width: 20vw; /* Ancho total del collage */
  height: 40vh; /* Altura total del collage */
  overflow: hidden;
  margin-left: 5vw;
  border-width: 0.25vw;
  border-color: black;
  border-style: solid;
  border-radius: 5%;
  padding: 0;
}
/* Estilo para las imágenes individuales */
.imagen {
  max-width: 100%;
  height: 100%;
  display: none; /* Ocultar todas las imágenes inicialmente */
  object-fit: cover;
}

.burrito {
  text-align: center; /* Alinea el contenido al centro */
  display: flex;
}

.imgburrito {
  width: 6vw;
  height: 5vw;
}

h5 {
  font-size: 1.4vw;
  text-align: left;
  padding: 0.1;
  color: #183d0e;
  font-style: italic;
}
