.sectionUno{
    display: grid;
    grid-template: 0.5fr 0.5fr / 1fr 1fr 0.2fr;
}

.sectionUno img{
    width: 10vw;
}

.presentacion{
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;

}

.sectionUno h1 {
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
/* 
a div img{
    width: 100%;
    max-width: 500vw;
    max-height: 30vw;
    object-fit: cover;
} */