/* Estilos para el formulario */
footer{
  /* position: absolute; */
  background-color: #183d0e ;
  color: #f6be00;
  padding: 2vh;
  
}

.tTexto > h2{
  text-align: center;
  
}

.tTexto > p{
text-align: justify;
}
form {
    max-width: 40vw;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de enviar */
  input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para etiquetas */
  label {
    font-weight: bold;
    font-size: 1.5vw;
  }
  
  /* Estilos para mensajes de error */
  .error-message {
    color: red;
  }

  .tTexto > p .tTexto > h2{
    font-size: 2vw;
  }

  @media(max-width: 768px){
    .tTexto > h2{
      font-size: 3vh;
      text-align: center;
    }
    .tTexto > p {
      font-size: 2.5vw;
    }

  }
  
  @media (max-width: 600px){
    .tTexto > h2{
      font-size: 3vh;
      text-align: center;
    }
    .tTexto > p {
      font-size: 4vw;
    }

    footer{
      position: relative;
    }
  
  }