.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.image img:hover {
    transform: scale(1.1);

}

.textGallery{
    color: #183d0e;
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
}

.logo{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 100%; /* Inicialmente, el texto estará fuera del contenedor */
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el texto */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espacio interior del texto */
    transition: left 0.3s; /* Transición de movimiento del texto */
  }

  .image-container:hover .text-overlay {
    left: 0; /* Mover el texto al centro del contenedor al pasar el puntero */
  }