

.contenedorCard{
  display: grid;
  gap: 10vh;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 45vh), 1fr));

}

.card{
  width: 330px;
  min-height: 400px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 70px;
  border-radius:10px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(120deg, #d4fc79 0%, #025d0f 100%);
  background-size: 100% 150px;
  background-repeat: no-repeat;
  text-align: center;
  padding: .1px;
  text-decoration: none;
  color: #183d0e;
  margin-bottom: 30vh;
}

.card:hover{
  color: #f6be00;
}

.cardLocalidad {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 20vh;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15%;
  border: 1px solid #b3a2a2;
}
.uritorco{
  background-image: url('../img/camina.jpg');
  
}

.gigantes{
  background-image: url('../img/CarruselGigBase.jpeg');
}

.quebrachitos{
  background-image: url('../img/capilla\ buffo.jpg');
}

.card  p{
  font-size: 1vw;
  padding: .5w;
  border-top: 1px solid #b3a2a2;
  color: black;
  max-height: 150px;
  overflow: scroll;
}

@media(max-width: 768px){
  .card  p{
    font-size: 2vw;
    padding: .5w;
    border-top: 1px solid #b3a2a2;
    color: black;
  }

}

@media (max-width: 600px){
  .card  p{
    font-size: 15px;
    padding: .5w;
    border-top: 1px solid #b3a2a2;
    color: black;
  }

}

.espacios{
  height: 30vh;

}