.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
   
}

.image img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;

}

.textGallery{
    color: #183d0e;
    text-decoration: none;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.image-container img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

.text-overlay {
    position: absolute;
    top: 30%;
    left: 100%; /* Inicialmente, el texto estará fuera del contenedor */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    color: #fff; /* Color del texto */
    padding: 1vw; /* Espacio interior del texto */
    transition: left 0.8s; /* Transición de movimiento del texto */
  }

  .image-container:hover .text-overlay {
    left: 0; /* Mover el texto al centro del contenedor al pasar el puntero */
  }

  @media(max-width: 768px){


    .image-container {
        position: static;
    }
    .text-overlay{
        display: none;
      }
    p{
        font-size: 3vw;
    }
  }