*{
    font-family: Poppins;
}

body {
    color: #183d0e;
}

h1 {
    font-size: 3.6vw;
    text-align: center;
}

p {
    font-size: 1.8vw;
    padding: 1vw;
    margin: 2vw;
}

.textNav:hover {
    color: rgb(250, 247, 253);
}

.container {
    max-width: 80vw;
    margin: auto;
    padding: 2vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

.column {
    flex: 1;
    padding: 1vw;
}

.video {
    display: flex;
    justify-content: center;
}

#video {
    width: 50%;
    height: 50%;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
    
}

.brand {
    display: flex;
    align-items: center;
}

