*{
    font-family: Poppins;
}

body {
    color: #183d0e;
}

.sectionUno > h1 {
    font-size: 3.4vw;
    text-align: center;

    background: linear-gradient(to right,  #f6be00, #183d0e, #f6be00); /* Define el fondo degradado */
    -webkit-background-clip: text; /* Recorta el fondo con el texto */
    background-clip: text; /* Recorta el fondo con el texto */
    color: transparent; /* Oculta el color del texto */ 
    margin-top: 1vw;
    margin-bottom: 0;
    padding: 1vw; 
}

.sendero {
    font-size: 2vw;
    text-align: center;

    color:  #f6be00; 
    background-color:  #183d0e;
    margin-left: 3vw;
    margin-right: 5vw;
    margin-top: 1vw;
    background-image: url('img/Sendero2.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    width: auto;
               
}

p {
    font-size: 1.8vw;
    padding: 1vw;
    margin: 2vw;
}

.textNav:hover {
    color: rgb(250, 247, 253);
}

.container {
    max-width: 80vw;
    margin: auto;
    padding: 2vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

.column {
    flex: 1;
    padding: 1vw;
}

.video {
    display: flex;
    justify-content: center;
}



#video {
    width: 50%;
    height: 50%;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
    .presentacion p{
        font-size: 2vh;
    }
}

.brand {
    display: flex;
    align-items: center;
}

