body {
    background-image: url("img/mapa.jpg");
    color: #183d0e;
}

h1 {
    font-family: "arial", "sans-self";
    font-size: 3.6vw;
    text-align: center;
}

p {
    font-family: "Gerogia", "serif";
    font-size: 1.8vw;
    padding: 1vw;
    margin: 2vw;
}

.textNav:hover {
    color: rgb(250, 247, 253);
}

.container {
    max-width: 80vw;
    margin: auto;
    padding: 2vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

.column {
    flex: 1;
    padding: 1vw;
}

.video {
    display: flex;
    justify-content: center;
}

#video {
    width: 50%;
    height: 50%;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

.container-nav {
    display: flex;
    padding: 1vw;
    height: 5vw;
    background-color: #183d0e
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li>a {
    padding: 8vw 2.4vw;
}

li {
    list-style-type: none;
}

.textNav {
    color: #f6be00;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}




.button-menu-toggle {
    display: none;
}


@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
    }

    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 7vw;
        left: 0;
        flex-direction: column;
        padding-top: 20vw;
        align-items: center;
        gap: 7vw;
        font-size: 4vw;
    }
}


img {
    max-width: 30vw;
    height: auto;
}
