/* Estilos para el formulario */
footer {
    position: absolute;
    background-color: #183d0e;
    color: #f6be00;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para etiquetas */
label {
    font-weight: bold;
}

/* Estilos para mensajes de error */
.error-message {
    color: red;
}

footer div p {
    font-size: 2vw;
}

@media(max-width: 768px) {
    footer div p {
        font-size: 2vw;
    }

}

@media (max-width: 600px) {
    footer div p {
        font-size: 15px;
    }

    footer {
        position: relative;
    }

}