<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gigantes</title>
    <link rel="shortcut icon" href="../estilos/img/icono2.ico" type="image/x-icon">
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/footer.css">
    <link rel="stylesheet" href="../estilos/galeria.css">
    <link rel="stylesheet" href="../estilos/nav.css">
    <link rel="stylesheet" href="../estilos/apiClima.css">
    <link rel="stylesheet" href="../estilos/carrusel.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e31628f38f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../estilos/gigantes.css">
    

</head>





</head>

<body>
    <header>
        <!-- barra de navegación -->
        <div class="container-nav">
            <nav class="navbar">
                <a class="textNav" href="../index.html" class="brand">
                    <img class="logo" src="../estilos/img/logo2.JPG" alt="">
                </a>
                <ul class="nav-links">
                    <li><a class="textNav" href="../index.html">Home</a></li>
                    <li><a class="textNav" href="#">Lugares ▼</a>
                        <ul>
                            <li><a href="../templates/quebrachitos.html">Quebrachitos</a></li>
                            <li><a href="../templates/uritorcodefinitivo.html">Uritorco</a></li>
                            <li><a href="../templates/losgigantes.html">Los Gigantes</a></li>
                        </ul>
                    </li>
                    <li><a class="textNav" href="#myForm">Contacto</a></li>
                    <li><a class="textNav" href="https://www.google.com/maps/@-31.4396976,-64.3846743,11z?entry=ttu"
                            target="_blank">Google</a></li>
                </ul>
            </nav>
            <button class="button-menu-toggle">Menu</button>
        </div>
    </header>

    <main>



        <div class="principal">

            <div>
                <img class="imageGigantes" src="../estilos/img/GigTapa.jpg" alt="Gigantes">
            </div>

            <div class="palabra">Los GIGANTES </div>

            <h4>Valles, cerros, ríos y vistas imponentes, un destino colosal!!!</h4>
            <p class="parrafo">Gran macizo al norte de las <b>Sierras Grandes de Córdoba</b>, más de 350G de años!
            </p>
            <p class="parrafo">Imperdible! un <b>laberinto </b>de enormes piedras graníticas
                con siluetas multiformes.</p>
            <p class="parrafo">Gracias a su cuidado, es uno de los últimos reductos de cóndores y tabaquillos.
            <p class="parrafo">Además es un centro importante de escalada en roca del país, mira sus <i
                    class="fa-solid fa-download fa-flip" style="color: rgba(172, 44, 27, 1);"></i> <a
                    href="../estilos/img/GigLaCruzRutas.jpg" target="_blank" class="custom-link">
                    rutas</a></p>
            <p class="parrafo">Nadar en el <i class="fa-solid fa-download fa-flip"
                    style="color: rgba(172, 44, 27, 1);"></i> <a href="../estilos/img/GigYuspe.jpg" target="_blank"
                    class="custom-link">Yuspe</a> ¡Un privilegio! Su río top, con el caudal estable todo el año.
            </p>
            <p class="parrafo">Tiene título de <u>zona de riesgo</u>. Para ir, debes anotarte en el <a
                    class="custom-link" href="https://registrozonaderiesgo.cba.gov.ar/#/">
                    registro</a> de visitantes.
            </p>

            <p class="parrafo">Es de esos lugares obligados a visitar al menos una vez en la vida!, ¿qué esperas?
            </p>
            <p class="parrafo">Seguro estás agendando una próxima salida alusinante... apasionante...
                <b>¡gigante!</b>
            </p>
        </div>

        <div class="containerGig">
            <!-- acá las cards -->
            <div class="card-containerGig">

                <!-- CARD 1 -->
                <div class="cardGig">

                    <h3>Circuitos</h3>

                    <div class="imagen-container">
                        <img src="../estilos/img/GigMogoteBanco.jpeg" alt="Mogote">
                        <img src="../estilos/img/GigLaCruz.jpeg" alt="La Cruz">
                    </div>

                    <h4>Cerro Mogote</h4>
                    <p>Recorres de 3 a 5hs, 15km hasta el punto más alto, del típico banquito! a unos <b>2374 msnm</b>. Si quieres, te quedas a dormir en refugios o en
                        la <i class="fa-solid fa-download fa-flip" style="color: rgba(172, 44, 27, 1);"></i> <a
                            href="../estilos/img/GigCueva.jpg" target="_blank" class="custom-link"> cueva </a>
                    </p>


                    <h4>Cerro La Cruz</h4>
                    <p>Por la ruta del Mogote, 1h y 1/2 hasta la quebrada, un sendero y
                        200m hasta
                        <b>2.180 msnm.</b> Una súper <i class="fa-solid fa-download fa-flip"
                            style="color: rgba(172, 44, 27, 1);"></i> <a href="../estilos/img/GigPanoramica.png" target="_blank"
                            class="custom-link">
                            vista</a> del Valle de Punilla!
                    </p>


                    <h4>Valle de Los Lisos</h4>               
                    <p>Lisos por la erosión! un <i class="fa-solid fa-download fa-flip" style="color: rgba(172, 44, 27, 1);"></i>
                        <a href="../estilos/img/GigLisos.jpeg" target="_blank" class="custom-link">tapiz</a> soñado, a <b>2.000 msnm</b>.
                    </p>

                </div>

                <!-- CARD 2 -->
                <div class="cardGig">

                    <h3>Datos útiles</h3>

                    <div class="imagen-container">
                        <img src="../estilos/img/GigRefugios.jpg" alt="Refugios">
                        <img src="../estilos/img/GigCartel.jpeg" alt="Letrero">
                    </div>

                    <h4>Refugios</h4>

                    <ul class="refugios">

                        <li><b>Cerro Mogote:</b></li>
                        <br>
                        <ul>
                            <li>CAC 3514805126</li>
                            <li>Juárez 03541-631350</li>
                            <li>Del Cielo 03541-408343</li>
                        </ul>
                        <br>
                        <li><b>Cajones de Achala:</b></li>
                        <br>
                        <ul>
                            <li>El Gigantillo 03541-553126 </li>
                        </ul>
                        <br>

                        <li><b>Pie de Los Gigantes:</b></li>
                        <br>
                        <div id="refugios1">
                            <ul>
                                <li v-for="refugio1 in listrefugios1">

                                    {{refugio1.nombre}} {{refugio1.telefono}}

                                </li>
                            </ul>
                        </div>

                    </ul>

                    <h4>El clima</h4>
                    <img class="imgApiClima" src="" alt="">
                    <div class="infoApi">
                    </div>

                </div>

                <!-- CARD 3 -->
                <div class="cardGig">

                    <h3>Cómo llegar</h3>

                    <div class="imagen-container">
                        <img src="../estilos/img/GigMapa.jpg" alt="Mapa Gigantes">
                        <img src="../estilos/img/GigRefugio.jpeg" alt="Valle Norte">                      
                    </div>

                    <h4>Ubicación</h4>
                    <p>Mira en
                        <a href="https://www.google.com/maps/place/Los+Gigantes,+C%C3%B3rdoba/@-31.3941843,-64.7927379,14.87z/data=!4m6!3m5!1s0x942d12463b8e4de3:0x6fae8af9f105ff35!8m2!3d-31.3949391!4d-64.7800328!16s%2Fg%2F1tvtcfgh?entry=ttu"
                            target="_blank" class="custom-link">Google Maps</a>

                    </p>

                    <h4>Transporte</h4>
                    <p>Son <b>84kms</b> desde Córdoba. Los 27kms finales, de ripio, desde Tanti.
                        <br> Puedes tomar la líneas Busbud o Sarmiento (llegas casi en 2,5hs)
                    </p>


                    <div class="burrito-container">
                        <img src="../estilos/img/GigDonkey.jpg" class="image" alt="burrito">
                    </div>
                    <h5>Que vivan Los Gigantes!!! oink!</h5>

                    <!-- <p class="parrafo">Disfruta tu recorrido virtual!!!.</p> -->
                    <div class="collage">
                        <img src="../estilos/img/GigCollTunel.png" class="imagen" alt="Imagen 1">
                        <img src="../estilos/img/GigCollLisos.jpeg" class="imagen" alt="Imagen 2">
                        <img src="../estilos/img/GigCollLisos1.png" class="imagen" alt="Imagen 3">
                        <img src="../estilos/img/GigCollRetamilla.jpg" class="imagen" alt="Imagen 4">
                        <img src="../estilos/img/GigCollValle.png" class="imagen" alt="Imagen 5">
                        <img src="../estilos/img/GigCollCondor.png" class="imagen" alt="Imagen 6">
                        <img src="../estilos/img/GigCollMogCaj.jpg" class="imagen" alt="Imagen 7">
                        <img src="../estilos/img/GigCollYuspeMix.jpg" class="imagen" alt="Imagen 8">
                        <img src="../estilos/img/GigCollCerro.jpg" class="imagen" alt="Imagen 9">
                        <img src="../estilos/img/GigCollFiguras.jpg" class="imagen" alt="Imagen 10">
                        <img src="../estilos/img/CarruselGigVistaN.png" class="imagen" alt="Imagen 11">
                        <img src="../estilos/img/CarruselGigBase.jpeg" class="imagen" alt="Imagen 12">
                        <img src="../estilos/img/GigCollDibujito.jpeg" class="imagen" alt="Imagen 13">

                    </div>



                    <!-- <div> -->
                    <!-- video local -->
                    <!-- <video src="https://www.youtube.com/watch?app=desktop&v=IDpoJw6uajs" controls height="100" width="50"></video> -->

                    <!-- </div> -->


                </div>
            </div>

        </div>


    </main>


    
        <footer>
        
            <div class="tTexto">
                <h2>Contacta Con Nosotros</h2>
                <p>Si tienes preguntas, necesitas asistencia o deseas obtener más detalles, no dudes en ponerte en
                    contacto con nuestro equipo. Estamos aquí para hacer de tu visita a Córdoba una experiencia
                    excepcional.</p>
                <p>Descubre Córdoba, descubre la auténtica alma de Argentina. ¡Bienvenido a un viaje que cambiará tu
                    perspectiva para siempre!</p>
            </div>
    
    
            <form id="myForm" onsubmit="validateForm()">
    
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre">
    
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email">
    
                <label for="asunto">Asunto:</label>
                <input type="text" id="asunto" name="asunto">
    
                <input type="submit" value="Enviar">
    
            </form>
    <div>© Todos los derechos reservados     <a href="templates/circuitosEjemplo.html">Terminos y Condiciones</a></div>
        </footer>
    

  

    <!-- <script src="../estilos/apiClima.js"></script> -->
    
    <script src="../estilos/script.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../estilos/gigantes.js"></script>

</body>

</html>