
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Codo a Codo</title>
    <link rel="stylesheet" href="../estilos/style.css">
    <link rel="stylesheet" href="../estilos/nav.css">
    <link rel="stylesheet" href="../estilos/footer.css">
</head>

<body>

    <div class="container-nav">
        <nav class="navbar">
            <a class="textNav" href="../index.html" class="brand">
                <img class="logo" src="../estilos/img/logo2.JPG" alt="">
            </a>
            <ul class="nav-links">
                <li><a class="textNav" href="../index.html">Home</a></li>
                <li><a class="textNav" href="">Lugares ▼</a>
                    <ul>
                        <li><a href="quebrachitos.html">Quebrachitos</a></li>
                        <li><a href="circuitosEjemplo.html">Urutirco</a></li>
                        <li><a href="circuitosEjemplo.html">Los Gigantes</a></li>
                    </ul>
                </li>
                <li><a class="textNav" href="#myForm">Contacto</a></li>
                <li><a class="textNav" href="https://www.google.com/maps/@-31.4396976,-64.3846743,11z?entry=ttu"
                        target="_blank">Google</a></li>
            </ul>
        </nav>
        <button class="button-menu-toggle">Menu</button>
    </div>
    </header>

    <main>
        <div class="container">
           <h1> Circuito Los Quebrachitos: </h1>
          <!-- Contenido principal -->
            <section class="galeria">
              <img src="../img/rio.jpg" alt="rio ">
            </section>

           <section class="presentacion">
               <h2> Bosque nativo, cascadas y una Capilla Unica</h2>
              <p>A  sólo 8 km de la zona céntrica de Unquillo, se encuentra un destino ideal para principiantes del senderismo. La Reserva Hídrica, Natural y Recreativa Los Quebrachitos es un destino imperdible. Dentro de este predio se abren diversos senderos con arrollos, cascadas, vegetacion autoctona y muchas aventuras mas.</p>
            </section>

            <section class="cards">
             <!-- acá irán las cards -->
             <div class="cards">
                <div class="titulo">Ficha Tecnica</div>
                <div class="cuerpo">
                <img src= "img/cruzando rio.jpeg" muestra">
                Dificultad física: moderada
                Recorrido:  9 km.
                Duración: 4 horas y media.
                Punto de partida y fin de recorrido: Casa Museo Buffo 31.192426, -64.364361
                Perfil de elevación:
                Altura máxima: 1063 msnm.
                Altura mínima: 817 msnm.
                Desnivel positivo acumulado: 368 m.
                </div>
                <div class="pie">
                  <a href="#">Más información</a>
                </div>
                </div>
            </section>

            
            <section class="cards">
                <!-- acá irán las cards -->
                <div class="cards">
                   <div class="titulo">Capilla Buffo</div>
                   <div class="cuerpo">
                   <img src= "img/capilla buffo.jpg" muestra">
                   Tal vez el mayor monumento dedicado al amor en la provincia se trate de esta estructura que construyó Guido Buffo en 1940. Autodidacta de múltiples oficios y profesiones, la creó en honor a su mujer, Leonor, y su hija, Eleonora, luego de que ambas fallecieran por tuberculosis
                   
                   </div>
                   <div class="pie">
                     <a href="#">Más información</a>
                   </div>
                   </div>
               </section>


        </div>
    </main>
    <footer>
        <div>
            <h2>Contacta Con Nosotros</h2>
            <p>Si tienes preguntas, necesitas asistencia o deseas obtener más detalles, no dudes en ponerte en
                contacto con nuestro equipo. Estamos aquí para hacer de tu visita a Córdoba una experiencia
                excepcional.</p>
            <p>Descubre Córdoba, descubre la auténtica alma de Argentina. ¡Bienvenido a un viaje que cambiará tu
                perspectiva para siempre!</p>
        </div>
    </footer>

    <script src="estilos/script.js"></script>
</body>

</html>