<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Uritorco, circuitos, Trekking, llegar">
    <meta name="description" content="Página orientada al turismo y actividades en el Cerro Uritorco">
    <title>Uritorco</title>
    <link rel="shortcut icon" href="../estilos/img/icono2.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="estilos/style.css"> -->
    <link rel="stylesheet" href="../estilos/footer.css">
    <link rel="stylesheet" href="../estilos/galeria.css">
    <link rel="stylesheet" href="../estilos/nav.css">
    <link rel="stylesheet" href="../estilos/apiClima-uritorco.js">
    <link rel="stylesheet" href="../estilos/uritorcomod_estilos/stylesuritorco.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


</head>

<body>

    <header>
        <!-- barra de navegación -->
        <div class="container-nav">
            <nav class="navbar">
                <a class="textNav" href="../index.html" class="brand">
                    <img class="logo" src="../estilos/img/logo2.JPG" alt="Logo">
                </a>
                <ul class="nav-links">
                    <li><a class="textNav" href="../index.html">Home</a></li>
                    <li><a class="textNav" href="#">Lugares ▼</a>
                        <ul>
                            <li><a href="../templates/quebrachitos.html">Quebrachitos</a></li>
                            <li><a href="../templates/uritorcodefinitivo.html">Uritorco</a></li>
                            <li><a href="../templates/losgigantes.html">Los Gigantes</a></li>
                        </ul>
                    </li>
                    <li><a class="textNav" href="#myForm">Contacto</a></li>
                    <li><a class="textNav" href="https://www.google.com/maps/@-31.4396976,-64.3846743,11z?entry=ttu"
                            target="_blank">Google</a></li>
                </ul>
            </nav>
            <button class="button-menu-toggle">Menu</button>
        </div>
    </header>

    <main>

        <section class="seccion1">
            <h1>Cerro Uritorco</h1>

            <div class="cerro-container">

                <img src="../estilos/img/galeria/cerro uritorco/cerro-uritorco-amanecer3.jpg" alt="Cerro Uritorco 2" class="cerro">
                <img src="../estilos/img/galeria/cerro uritorco/photo-1620825654267-b2d073e6fba2.jpg" alt="Cerro Uritorco 1"
                    class="cerro">
                <img src="../estilos/img/galeria/cerro uritorco/CDQX3CCINZH2TDE626MPSXYUYY.jpg" alt="Cerro Uritorco 3" class="cerro">
            </div>

            <p class="descripcion">
                Descubre la magia del <strong>Cerro Uritorco</strong> en Córdoba, Argentina.
                ¿Listo para una aventura inolvidable? El<b> Cerro Uritorco</b> te espera con
                los brazos abiertos.
                Con una altitud de 1979
                metros, este majestuoso pico ofrece una experiencia única de turismo en plena naturaleza y misticismo.
                Sumérgete en la belleza escénica de las Sierras de Córdoba mientras exploras el <b
                >Cerro Uritorco.</b>
                Este lugar icónico es
                famoso por su energía especial, atrayendo a aquellos que buscan un viaje espiritual y emocionante.
                ¿Sabías que el
                Uritorco ha sido vinculado a avistamientos de ovnis y fenómenos misteriosos? ¡Ven a descubrirlo por ti
                mismo!
                En la cima del <b>Cerro Uritorco</b>, serás recompensado con vistas
                panorámicas espectaculares que te
                dejarán sin aliento.
                Una
                experiencia de <strong>turismo</strong> que jamás olvidarás.
                ¿Estás listo para vivir una aventura única y mística? Ven al <b>Cerro
                    Uritorco</b> y descubre el lado
                más fascinante de
                Córdoba. ¡Te esperamos!</p>




        </section>
        <br>

        <section class="seccion2">

            <div class="contenedor">
                <span class="circuitos">
                    <!-- Contenido de circuitos -->
                    <h2><strong>Informacion sobre circuitos:</strong></h2>
                    <p class="p-circuitos"> El Cerro cuenta con varios circuitos de trekking para disfrutar, aquí te
                        contamos todo sobre
                        ellos!
                    </p>


                    <ul type="square" class="lista-desordenada">

                        <li class="lista-titulo">
                            <h3 class="titulo-circuito"><u><strong>Trekking Ollas y
                                        Cascadas:</strong></u></h3>
                        </li>
                        <p>Ubicado al pie del Cerro Uritorco para realizar una caminata al
                            balneario las ollas.
                            Caídas
                            de agua con cascadas, ollas de agua con diferentes alturas y profundidades, caminata
                            de
                            dificultad baja. Es un recorrido en un entorno totalmente natural en un bosque
                            serrano-chaqueño muy bello y bien conservado</p>

                        <img src="../estilos/img/galeria/ollas y cascadas/capilla.jpg" alt="Ollas y cascadas 1" class="imagenes">



                        <li class="lista-titulo">
                            <h3 class="titulo-circuito"><u><strong>Trekking Sendero Orco
                                        Quebracho:</strong></u>
                            </h3>
                        </li>
                        <p>Sendero Orco Quebracho, Un lugar donde la naturaleza le da un
                            abrazo a tu alma, a los
                            pies
                            del Cerro
                            Uritorco. Para disfrutar del Trekking. contemplando la hermosa flora y fauna
                            serrana.
                            Duración de
                            caminata 50min. Distancia para recorrer 2km. Actividad de baja
                            dificultad.</p>


                        <img src="../estilos/img/galeria/sendero orco quebracho/CerroUritorco.jpg" alt="Sendero Orco Quebracho 1"
                            class="imagenes">


                        <li class="lista-titulo">
                            <h3 class="titulo-circuito"><u><strong>Trekking Camino de los
                                        Duendes:</strong></u>
                            </h3>
                        </li>
                        <p>Se ubica al pie del Cerro Uritorco, comenzando en frente de la
                            confitería del
                            complejo.
                            Lugar
                            también conocido como "El sendero de la higuera", es una excursión de dificultad
                            baja
                            con la
                            alternativa de optar por los 3km o el recorrido de 1km. Es un bello recorrido muy
                            rico
                            en
                            flora medicinal. Apto para todo tipo de público.</p>


                        <img src="../estilos/img/galeria/camino de los duendes/San-Marcos-Sierras-Radio-Quilpo3-2.jpg"
                            alt="Camino de los duendes 1" class="imagenes">
                        <!-- <img src="galeria/camino de los duendes/maxresdefault.jpg" alt="Camino de los duendes 2"
                            class="imagenes"> -->



                    </ul>

                </span>







                <span class="llegar">
                    <!-- Contenido de cómo llegar -->

                    <h2><strong>Como Llegar:</strong></h2>
                    <div>

                        <p>El Cerro Uritorco se encuentra en el centro de Argentina, al norte del
                            Valle de Punilla, cerca de
                            Capilla del Monte, en la provincia de Córdoba.</p>
                        <p>Se puede llegar al cerro desde Córdoba capital, que está a unos 100 kilómetros de distancia,
                            tomando la ruta E53 y luego el Camino del Cuadrado, y finalmente accediendo por la ruta 38
                            hasta
                            Capilla
                            del Monte.</p>
                        <p>Una vez dentro de la localidad, el último tramo para acceder al Uritorco es de tierra.</p>
                        <p>Para escalar el Cerro Uritorco, ten en cuenta que no se permiten menores de 8 años ni
                            embarazadas, y es obligatorio dejar el entorno natural sin alteraciones.</p>
                        <p>El complejo que administra las visitas
                            al cerro está abierto durante todo el año, pero las estaciones de otoño y primavera son
                            ideales
                            debido a las
                            condiciones climáticas.</p>
                        <p>Tanto el estacionamiento como el ascenso al cerro son de pago por
                            persona.
                        </p>


                        <h2>Para llegar en transporte:</h2>
                        <div class="boton-container">
                            <a class="boton"
                                href="https://moovitapp.com/index/es-419/transporte_p%C3%BAblico-Cerro_Uritorco-Cordoba-site_171625794-1623"
                                target="_blank">Aquí encontrarás toda la información </a>
                        </div>
                        <br>
                        <br>
                        <br>

                        <iframe class="mapa"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27398.846350829142!2d-64.52111263279465!3d-30.862712178029668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d8c4d80f6743d%3A0xed496e74eb599f39!2sUritorco!5e0!3m2!1ses-419!2sar!4v1695832886374!5m2!1ses-419!2sar"
                            width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <br>
                        <br>

                        <h2><b>Información útil:</b></h2>

                        <p><i class="fa-solid fa-square-phone"></i> Teléfono: 3548 608093 - Base del Cerro Uritorco</p>


                        <dl>
                            <h3><u>Qué llevar para protegerse:</u></h3>
                            <dt>
                            <dd id="dd">- Calzado adecuado (zapatillas de trekking o similares).</dd>
                            <dd id="dd">- Gorra de verano o gorro de invierno (no hay sombra en ninguna parte del
                                camino).
                            </dd>
                            <dd id="dd">- Lentes de sol.</dd>
                            <dd id="dd">- Protector solar si es primavera/verano.</dd>
                            <dd id="dd">- Bastones de senderismo si te es útil y funcional.</dd>
                            </dt>

                            <h3><u>Qué llevar para comer e hidratarse:</u></h3>
                            <dt>

                            <dd id="dd">- Una fruta por persona y una barra de cereal.</dd>
                            <dd id="dd">- Algo liviano para comer en la cima.</dd>
                            <dd id="dd">- 2 litros de agua por persona (Es obligatorio).</dd>
                            </dt>

                        </dl>

                        <br>

                        <div>

                            <a class="boton" href="../estilos/llevar para protegerse.pdf" download target="_blank">Descarga
                                ésta información</a>
                        </div>

                    </div>

                </span>




                <span class="clima">
                    <div >
                        <!-- Contenido de la API del clima -->

                        <h2><b>Te contamos como va a estar el tiempo <br>para que te
                                prepares!</b>
                        </h2>

                        <img class="imgApiClima" src="" alt="">
                        <br>
                        <div class="infoApi">


                        </div>
                        <br>
                        <br>
                        <br>


                        <div>
                            <img class="silueta" src="../estilos/img/galeria/1697574364693.png" alt="">
                        </div>
                </span>

            </div>
            <!-- <div>

                <div class="carrousel">
                    <div class="conteCarrousel">
                        <div class="itemCarrousel" id="itemCarrousel-1">
                            <div class="itemCarrouselTarjeta"><img src="galeria/ollas y cascadas/olla-la-toma (1).jpg" alt="Ollas y cascadas 2" class="carrousel-img"></div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-3">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <a href="#itemCarrousel-2">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-2">
                            <div class="itemCarrouselTarjeta"><img src="galeria/sendero orco quebracho/sendero orco quebracho.jpg" alt="Sendero Orco Quebracho 2" class="carrousel-img"></div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-1">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <a href="#itemCarrousel-3">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="itemCarrousel" id="itemCarrousel-3">
                            <div class="itemCarrouselTarjeta"><img src="galeria/camino de los duendes/maxresdefault.jpg" alt="Camino de los duendes 2" class="carrousel-img"></div>
                            <div class="itemCarrouselArrows">
                                <a href="#itemCarrousel-2">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <a href="#itemCarrousel-1">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="conteCarrouselController">
                        <a href="#itemCarrousel-1">•</a>
                        <a href="#itemCarrousel-2">•</a>
                        <a href="#itemCarrousel-3">•</a>
                    </div>
                </div> -->

            <!-- <div class="imagenes-container">
                    <img src="galeria/ollas y cascadas/olla-la-toma (1).jpg" alt="Ollas y cascadas 2" class="imagenes">
                    <img src="galeria/sendero orco quebracho/sendero orco quebracho.jpg" alt="Sendero Orco Quebracho 2"
                        class="imagenes">
                    <img src="galeria/camino de los duendes/maxresdefault.jpg" alt="Camino de los duendes 2"
                        class="imagenes">
                    <img src="galeria/cerro uritorco/cerro-uritorco-amanecer3.jpg" alt="" class="imagenes">
                </div> -->
            </div>

            </div>

        </section>





    </main>

    <footer>
        <div class="tTexto">
            <h2>Contacta Con Nosotros</h2>
            <p>Si tienes preguntas, necesitas asistencia o deseas obtener más detalles, no dudes en ponerte en
                contacto con nuestro equipo. Estamos aquí para hacer de tu visita a Córdoba una experiencia
                excepcional.</p>
            <p>Descubre Córdoba, descubre la auténtica alma de Argentina. ¡Bienvenido a un viaje que cambiará tu
                perspectiva para siempre!</p>
        </div>


        <form id="myForm" onsubmit="validateForm()">

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email">

            <label for="asunto">Asunto:</label>
            <input type="text" id="asunto" name="asunto">

            <input type="submit" value="Enviar">

        </form>
        <div>© Todos los derechos reservados <a href="../templates/circuitosEjemplo.html">Terminos y Condiciones</a></div>
    </footer>

    <script src="../estilos/script.js"></script>
    <script src="../estilos/apiClima-uritorco.js"></script>
    <script src="https://kit.fontawesome.com/d31a4bce17.js" crossorigin="anonymous"></script>

</body>

</html>